<div fxLayout="column" fxLayoutGap="5px" class="container">
    <mat-card fxFlex="1 1 calc(33.3%-5px)" *ngFor="let producto of listaProductos" fxFlex.lt-lg="1 1 calc(50%-5px)" fxFlex.lt-sm="1 1 calc(100%-5px)">
        <div fxLayout="row" >
            <div fxLayout="column" fxLayoutAlign="start start">
                <img *ngIf="producto.imagen != null" [src]='getImage(producto.imagen.nombreFichero)' class="imgPeli" fxHide.sm="true"  fxHide.xs="true">
         
            </div>
            <div fxLayout="column" class="manage" fxLayoutAlign="start start">
                <div fxLayout="row" >
                    <div fxLayout="column" class="margen" fx fxLayoutAlign="start start">
                        <mat-card-title fxLayout="row"><span class="letras">{{producto.nombre}}</span></mat-card-title>
                        <p>
                        <p>
                        <mat-card-subtitle fxLayout="row"><span class="letrasTipo">{{producto.precio}}</span></mat-card-subtitle>
                    </div>
                </div>
                <div fxLayout="row" class="margen2" fxLayoutAlign="start start" fxLayoutGap="gappx" fxHide.sm="true">
                        <mat-card-content>
                            <p><span class="letrasDescr">{{producto.descripcion}}</span></p>
                        </mat-card-content>
                </div>
                <div fxLayout="row" class="margen" fxLayoutAlign="start start">
                        <button mat-raised-button color="primary" class="botton">Editar..</button>
                        <button mat-raised-button color="warn" (click)="openDialog2(producto.id)" class="botton2">Eliminar..</button>
                </div>
         
            </div>
            
        </div>
        
    </mat-card>
   
</div>

<button mat-fab color="warn" class="grande mat-fab-bottom-right" (click)="openDialog()" style="z-index: 9;">
  <mat-icon class="mat-24">add</mat-icon>
</button>