.container{
    padding: 10%;
    width: 80%;
    margin: 0 auto;
    font-family: "Roboto";
}
.imgPeli{
    object-fit: cover;
    width: 150px;
    padding: 5px;
}

.manage {
    margin-left: 35px;
}

.margen {
    margin-top: 5%;
}

.margen2 {
    margin-top: 1%;
}

.grande {
width: 5%;
height: 10%;
}

.letras {
    font-size: 2em;
}

.botton {
    width: 85px;
    height: 70px;
    margin-left: 5%;
}

.botton2 {
    width: 85px;
    height: 70px;
    margin-left: 5%;
}

.letrasTipo {
    font-size: 23px;
}
.letrasDescr {
    font-size: 20px;
}
.flotar{
    float: left;
}
tspan{
    color: black;
}
.mat-card-title{
    font-weight: 800;
}

.letraPequena{
    font-size: 11px;
    font-style: italic;
}